// color important
$primary : #f1dcb6;
$secondary : #dadada;
// color text

$black-text : #000;
$wihte-text : #fff;

// color icons
$icon-home: #f1dcb6;
$icon-search: #9cd3ec;
$icon-done : #ec9c9c;
$icon-profil : #9ceca0;